unix_socket_connect(cnd, qmuxd, qmuxd)

allow cnd self:socket { create write read ioctl };

allow cnd self:netlink_xfrm_socket { create bind setopt getopt };
allow cnd self:netlink_route_socket { create bind setopt getopt };
allow cnd self:netlink_tcpdiag_socket { create bind setopt getopt };

allow cnd qmuxd_socket:dir { create_dir_perms add_name };
allow cnd qmuxd_socket:sock_file create_file_perms;

allow cnd socket_device:dir { rw_dir_perms add_name };
allow cnd socket_device:sock_file create_file_perms;

allow cnd sysfs_subsys:file r_file_perms;
allow cnd sysfs_pronto:file r_file_perms;
