# Started by init
init_daemon_domain(cnd)

allow cnd self:capability {
    dac_override
    net_raw
    net_admin
    setuid
    setgid
    chown
    fsetid
};

allow cnd socket_device:dir { rw_dir_perms add_name };
allow cnd socket_device:sock_file create_file_perms;

allow cnd sysfs_subsys:file r_file_perms;
allow cnd sysfs_pronto:file r_file_perms;
