allow tee persist_file:file create_file_perms;
allow tee persist_file:dir create_dir_perms;

allow tee persist_drm_file:file create_file_perms;
allow tee persist_drm_file:dir create_dir_perms;
