# For BT to access sysfs_bluetooth_writable
rw_dir_file(ueventd, sysfs_bluetooth_writable)

allow ueventd tmpfs:file create_file_perms;
allow ueventd tmpfs:dir create_dir_perms;

allow ueventd device:file relabelfrom;
allow ueventd urandom_device:file { relabelto setattr };
allow ueventd vfat:file { open read };

