# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

import init.omni.rc
import init.common.usb.rc
import init.loire.pwr.rc
import init.kitakami.pwr.rc

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

on init

    wait /dev/block/mmcblk0p1
    chown tad tad /dev/block/mmcblk0p1
    chmod 0770 /dev/block/mmcblk0p1

    mkdir /idd 0751 idd idd
    mkdir /idd/lost+found 0770 root root
    mkdir /idd/output 0755 idd idd
    mkdir /idd/socket 0711 idd idd
    mkdir /idd/startup-prober 0700 root root

    mkdir /rca 0750 idd idd
    mkdir /rca/plugins 0750 idd idd

    # Enable subsystem restart
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys3/restart_level "RELATED"

    mkdir /tmp
    mount tmpfs tmpfs /tmp nosuid mode=0755,uid=0,gid=0
    symlink /dev/socket /tmp

    # Set permissions for firmware partition
    mkdir /firmware 0771 system system

    # Set permissions for persist partition
    mkdir /persist 0771 system system

    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

    chown system system /sys/devices/mdss_dsi_panel/panel_id
    chmod 0440 /sys/devices/mdss_dsi_panel/panel_id

    symlink /sdcard /storage/sdcard0

    # Setup zram options
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

on fs
    symlink /dev/block/platform/soc.0/7824900.sdhci /dev/block/bootdevice

    mount_all ./fstab.loire
    swapon_all ./fstab.loire

    write /sys/kernel/boot_adsp/boot 1

    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on post-fs-data

    # Create the directories used by DPM subsystem
    mkdir /data/dpm 0771 system system
    chown system system /data/dpm

    mkdir /data/dpm/nsrm 0771 system system
    chown system system /data/dpm/nsrm

    chown idd idd /idd
    chmod 0751 /idd
    symlink /idd /mnt/idd

    chown idd idd /rca
    chmod 0750 /rca
    symlink /rca /mnt/rca

    # SONY: Create a dir for apfd script files
    mkdir /data/system/apfd 0770 system system

    # Secd
    mkdir /data/credmgr 0770 system credmgr_client
    
    restorecon_recursive /idd
    restorecon_recursive /rca
    restorecon_recursive /persist
    restorecon_recursive /data/credmgr
    restorecon_recursive /data/dpm

    # Create directory used by bluetooth subsystem
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # SONY: Camera
    mkdir /data/camera 0770 media camera
    chown cameraserver camera /sys/devices/sony_camera_0/info
    chmod 0770 /sys/devices/sony_camera_0/info
    chown cameraserver camera /sys/devices/sony_camera_1/info
    chmod 0770 /sys/devices/sony_camera_1/info

    # To observe dnsmasq.leases file for dhcp information of soft ap.
    chown dhcp system /data/misc/dhcp

    # Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

    # create directory for scd
    mkdir /dev/socket/scd 0755 system system
    mkdir /data/scd 0755 system system

    # Create directory for TZ Apps
    mkdir /data/misc/qsee 0770 system system
    mkdir /data/fpc 0700 system system

    mkdir /data/misc/dts 0770 media audio
    mkdir /data/persist 0770 persist_rw persist_rw

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Create directory for audio delta files
    mkdir /data/misc/audio/acdbdata 0770 media audio
    mkdir /data/misc/audio/acdbdata/delta 0770 media audio

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist

    mkdir /data/etc 0775
    mkdir /data/system 0775 system system

    # Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    # Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    # Enable the setgid bit on the directory
    mkdir /data/audio 0770 media audio
    chmod 2770 /data/audio

    mkdir /data/data/media 0770 media media

    # QCOM camera stack
    mkdir /data/misc/camera 0770 camera camera

    # Sensors
    mkdir /data/misc/sensors 0775 system system

    # NFC
    # Local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    # FM Radio
    mkdir /data/misc/fm 0770 system system

    # Execute post dumper to move the partial tlcore from /idd to /data
    exec /system/vendor/bin/post_dumper -m

    chown system /dev/block/bootdevice/by-name

    setprop vold.post_fs_data_done 1

on charger
    # Booting modem
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    start rmt_storage
    start mlog_qmi_service
    start irsc_util

on early-boot
    # Set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on boot
    chown cameraserver system /sys/class/leds/led:flash_0/brightness
    chown cameraserver system /sys/class/leds/led:flash_1/brightness
    chown cameraserver system /sys/class/leds/led:torch_0/brightness
    chown cameraserver system /sys/class/leds/led:torch_1/brightness
    chown cameraserver system /sys/class/leds/led:switch/brightness
    chown cameraserver system /sys/class/leds/led:switch/strobe
    chown cameraserver system /sys/class/leds/led:switch/duration
    chown cameraserver system /sys/class/leds/led:switch/fault_status

    # Bluetooth modules
    chown system system /sys/module/bluetooth/parameters/disable_ertm
    chown system system /sys/module/bluetooth/parameters/disable_esco
    chown system system /sys/module/bluetooth/parameters/enable_hs
    chmod 0644 /sys/module/bluetooth/parameters/disable_ertm
    chmod 0644 /sys/module/bluetooth/parameters/disable_esco
    chmod 0644 /sys/module/bluetooth/parameters/enable_hs

    # Bluetooth rfkill
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state

    # Bluetooth LPM
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/proto
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps
    mkdir /dev/socket/qmux_nfc 0770 nfc nfc
    chmod 2770 /dev/socket/qmux_nfc

    #Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio
    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete

    # Create folder for timekeep
    mkdir /data/time/ 0700 system system

    # Camera Recording
    mkdir /dev/video
    symlink /dev/video32 /dev/video/venus_dec
    symlink /dev/video33 /dev/video/venus_enc

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # Create symlink for fb1 as HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # Graphics Permissions
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time

    chown system graphics /sys/class/graphics/fb1/avi_itc
    chown system graphics /sys/class/graphics/fb1/avi_cn0_1
    chown system graphics /sys/class/graphics/fb1/hpd
    chown system graphics /sys/class/graphics/fb1/product_description
    chown system graphics /sys/class/graphics/fb1/vendor_name
    chown system graphics /sys/class/graphics/fb1/video_mode
    chown system graphics /sys/class/graphics/fb1/hdcp/tp
    chmod 0664 /sys/class/graphics/fb1/avi_itc
    chmod 0664 /sys/class/graphics/fb1/avi_cn0_1
    chmod 0664 /sys/class/graphics/fb1/hpd
    chmod 0664 /sys/class/graphics/fb1/product_description
    chmod 0664 /sys/class/graphics/fb1/vendor_name
    chmod 0664 /sys/class/graphics/fb1/video_mode
    chmod 0664 /sys/class/graphics/fb1/hdcp/tp

    # FB2 permissions
    chown system graphics /sys/class/graphics/fb2/ad
    chmod 0664 /sys/class/graphics/fb2/ad

    # For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    chown root system /proc/net/ip_conntrack

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 8388608
    write /proc/sys/net/core/wmem_max 8388608

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Set the console loglevel to < KERN_INFO
    # Set the default message loglevel to KERN_INFO
    write /proc/sys/kernel/printk "6 6 1 7"

    setrlimit 4 -1 -1
    write /proc/sys/kernel/dmesg_restrict 0

    # Bluetooth
    chown system system /sys/devices/soc.0/bcmdhd_wlan.112/macaddr

    # Cover mode
    chown system system /sys/devices/virtual/input/clearpad/cover_mode_enabled
    chown system system /sys/devices/virtual/input/clearpad/cover_win_bottom
    chown system system /sys/devices/virtual/input/clearpad/cover_win_left
    chown system system /sys/devices/virtual/input/clearpad/cover_win_right
    chown system system /sys/devices/virtual/input/clearpad/cover_win_top

    # Tap to wake
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture
    chmod 0660 /sys/devices/virtual/input/clearpad/wakeup_gesture

    # Glove mode
    chown system system /sys/devices/virtual/input/clearpad/glove
    chmod 0660 /sys/devices/virtual/input/clearpad/glove

    # Allow access for CCID command/response timeout configuration
    chown system system /sys/module/ccid_bridge/parameters/bulk_msg_timeout

    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete

    # Socket location for RIDL
    mkdir /dev/socket/RIDL 2770 system system

    # Required for fingerprint
    chown system system /sys/bus/spi/devices/spi0.1/clk_enable
    chmod 0660 /sys/bus/spi/devices/spi0.1/clk_enable
    chown system system /sys/devices/soc.0/fpc1145_device/spi_prepare
    chmod 0660 /sys/devices/soc.0/fpc1145_device/spi_prepare
    chown system system /sys/devices/soc.0/fpc1145_device/wakeup_enable
    chmod 0660 /sys/devices/soc.0/fpc1145_device/wakeup_enable
    chown system system /sys/devices/soc.0/fpc1145_device/irq
    chmod 0660 /sys/devices/soc.0/fpc1145_device/irq

    # add a cpuset for the camera daemon
    # we want all the little cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Update foreground cpuset now that processors are up
    # reserve CPU 3 for the top app and camera daemon
    write /dev/cpuset/foreground/cpus 0-2,4-5
    write /dev/cpuset/foreground/boost/cpus 4-5
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/top-app/cpus 0-5
    write /dev/cpuset/camera-daemon/cpus 0-3

# OSS WLAN and BT MAC setup
service macaddrsetup /system/bin/macaddrsetup /sys/devices/soc.0/bcmdhd_wlan.116/macaddr
    class core
    user system
    group system bluetooth
    disabled
    oneshot
    writepid /dev/cpuset/system-background/tasks

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    # We will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    # user wifi
    # group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1p2p_device=1 \
    -m/data/misc/wifi/p2p_supplicant.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    # We will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    # user wifi
    # group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# QCOM prop
service per_mgr /system/vendor/bin/pm-service
    class core
    user system
    group system net_raw
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service per_proxy /system/vendor/bin/pm-proxy
    class core
    user system
    group system net_raw
    disabled
    writepid /dev/cpuset/system-background/tasks

# Fingerprint service
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group input
    writepid /dev/cpuset/system-background/tasks

service msm_irqbalance /system/vendor/bin/msm_irqbalance -f /system/etc/msm_irqbalance.conf
    socket msm_irqbalance seqpacket 660 root system
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# brcm-uim-sysfs (BT/FM/ANT+)
service uim /system/bin/brcm-uim-sysfs
    class late_start
    user root
    group bluetooth net_bt_admin net_bt
    seclabel u:r:uim:s0
    writepid /dev/cpuset/system-background/tasks

# Start Security Daemon
service secd /system/vendor/bin/secd
    class main
    user system
    group system
    socket secd_ebl_sock stream 0660 system credmgr_client
    socket secd_devsec_sock stream 0660 system credmgr_client
    socket secd_credmgr_sock stream 0660 system credmgr_client
    seclabel u:r:secd:s0
    writepid /dev/cpuset/system-background/tasks

# SONY: IDD daemon
service iddd /system/vendor/bin/iddd
    class core
    user idd
    group idd log inet trimarea
    seclabel u:r:idd:s0
    writepid /dev/cpuset/system-background/tasks

# SONY misc
service tad_static /system/vendor/bin/tad_static /dev/block/bootdevice/by-name/TA 0,16
    class core
    user tad
    group root tad
    socket tad stream 0660 system trimarea
    seclabel u:r:tad:s0
    writepid /dev/cpuset/system-background/tasks

# SONY misc
service ta_qmi_service /system/vendor/bin/ta_qmi_service
    class core
    user root
    writepid /dev/cpuset/system-background/tasks

# SONY prop
service sct_service /system/vendor/bin/sct_service
    class core
    user root drmrpc
    writepid /dev/cpuset/system-background/tasks

# SONY prop
service mlog_qmi_service /system/vendor/bin/mlog_qmi_service
    class core
    user root wakelock drmrpc
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service rmt_storage /system/vendor/bin/rmt_storage
    class core
    user root
    group system wakelock drmrpc
    writepid /dev/cpuset/system-background/tasks

# DSDS second ril
service ril-daemon2 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_r sdcard_rw qcom_diag diag log drmrpc trimarea

service updatemiscta /system/vendor/bin/updatemiscta
    class main
    user updatemiscta
    group trimarea
    oneshot
    seclabel u:r:updatemiscta:s0
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service qmuxd /system/vendor/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth wakelock gps nfc diag drmrpc
    disabled
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service netmgrd /system/vendor/bin/netmgrd
    class main
    group system wakelock
    disabled
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service irsc_util /system/vendor/bin/irsc_util "/etc/sec_config"
    class main
    user root
    oneshot

# Camera
service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/camera-daemon/tasks

# QCOM sensors
service sensors /system/vendor/bin/sensors.qcom
    class main
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# QCOM Secure
service qseecomd /system/vendor/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# OSS thermal management
service thermanager /system/bin/thermanager /system/etc/thermanager.xml
    class main
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# Offline charger
service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0
    writepid /dev/cpuset/system-background/tasks

# OSS time
service timekeep /system/bin/timekeep restore
    class late_start
    user root
    group root
    oneshot
    writepid /dev/cpuset/system-background/tasks


on property:ro.boot.baseband=apq
    setprop ro.radio.noril yes
    stop ril-daemon
    enable qmuxd

on property:ro.boot.baseband=msm
    enable qmuxd
    enable netmgrd

# Redefined Service
service audioserver /system/bin/audioserver
    class main
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio trimarea camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct qcom_diag
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct credmgr_client trimarea
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

service drm /system/bin/drmserver
    class main
    user drm
    group drm system inet drmrpc readproc trimarea
    writepid /dev/cpuset/foreground/tasks

service media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm credmgr_client
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

service mediadrm /system/bin/mediadrmserver
    class main
    user media
    group mediadrm drmrpc trimarea
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log readproc wakelock qcom_diag drmrpc trimarea

# SONY: Startup prober
service startup-prober /system/vendor/bin/startup-prober
    user root
    oneshot
    disabled
    group trimarea drmrpc system credmgr_client
    writepid /dev/cpuset/system-background/tasks

# SONY: Startup Logger
service startup-logger /system/bin/startup-logger
   class late_start
   user root
   group root system trimarea
   oneshot
   seclabel u:r:startup-logger:s0
    writepid /dev/cpuset/system-background/tasks

# gtsconfd
service gtsconfd /system/vendor/bin/gtsconfd
    class main
    socket gts_socket seqpacket 0660 root system
    seclabel u:r:gtsconfd:s0
    writepid /dev/cpuset/system-background/tasks

# Native daemon for PacketFilter
service apfd /system/vendor/bin/apfd
    class main
    socket apfd_socket stream 0660 root system
    group system
    seclabel u:r:apfd:s0
    writepid /dev/cpuset/system-background/tasks

service cnd /system/vendor/bin/cnd
    class main
    socket cnd stream 660 root inet
    seclabel u:r:cnd:s0
    writepid /dev/cpuset/system-background/tasks

service dpmd /system/vendor/bin/dpmd
    class late_start
    socket dpmd stream 660 root system
    group system readproc
    seclabel u:r:dpmd:s0
    writepid /dev/cpuset/system-background/tasks

on property:persist.radio.multisim.config=dsds
    enable ril-daemon2

# adb over network
on property:adb.network.port.es=*
    setprop service.adb.tcp.port ${adb.network.port.es}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

on property:vold.post_fs_data_done=1
    # Generate Bluetooth MAC address file only when /data is ready
    start macaddrsetup

on property:sys.backlight_on=0
    write /sys/devices/virtual/input/clearpad/force_sleep 2

on property:sys.backlight_on=1
    write /sys/devices/virtual/input/clearpad/force_sleep 0

# Touch
on property:persist.sys.touch.easywakeup=0
    write /sys/devices/virtual/input/clearpad/wakeup_gesture 0

on property:persist.sys.touch.easywakeup=1
    write /sys/devices/virtual/input/clearpad/wakeup_gesture 1

on property:persist.sys.touch.glove_mode=0
    write /sys/devices/virtual/input/clearpad/glove 0

on property:persist.sys.touch.glove_mode=1
    write /sys/devices/virtual/input/clearpad/glove 1

on property:sys.cover_state=0
    write /sys/devices/virtual/input/clearpad/cover_status 0

on property:sys.cover_state=1
    write /sys/devices/virtual/input/clearpad/cover_status 1

on property:bluetooth.isEnabled=true
    write /sys/class/bluetooth/hci0/idle_timeout 7000

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

on property:dev.bootcomplete=1
    start startup-prober
